body {
  max-width: 1080px;
  margin: 2em auto;
  text-align: center;
  background-color: #4c5c68;
}

#player2,
#player1,
#btnPlayer2,
#btnPlayer1,
#reload {
  font-family: 'Gloria Hallelujah';
  font-size: 22px;
}

body {
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

h1 {
  font-size: 3.5em;
}

#position {
  width: 300px;
  margin: 2em auto;
}

#container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin: 2em auto;
}

.grid {
  background-color: #fff;
  border: 3px solid #4c5c68;
  color: #000;
  align-items: center;
  font-size: 65px;
  padding: 0px 10px 55px 15px;
  color: rgba(31, 75, 100, 0.7);
  text-shadow: 0 0 4px rgba(31, 75, 100, 0.6);
}

.grid:hover {
  background-color: #9baebc;
}

#output {
  margin-top: 1em;
  font-size: 1.5em;
}

#player1 {
  border: none;
  color: #1f4b64;
  padding-left: 10px;
  margin-left: 0.5em;
}

#player2 {
  border: none;
  color: #1f4b64;
  padding-left: 10px;
  margin-left: 0.5em;
}

#btnPlayer2,
#btnPlayer1 {
  margin-left: 2em;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(
    to right top,
    #427e8d,
    #3e8592,
    #3a8c96,
    #37939a,
    #359a9c,
    #35a09e,
    #36a69f,
    #39ac9f,
    #3fb29f,
    #46b99e,
    #4fbf9c,
    #59c59a
  );
  border-radius: 50px;
  border: none;
  color: #fff;
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.4);
}

#reload {
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(
    to right top,
    #427e8d,
    #3e8592,
    #3a8c96,
    #37939a,
    #359a9c,
    #35a09e,
    #36a69f,
    #39ac9f,
    #3fb29f,
    #46b99e,
    #4fbf9c,
    #59c59a
  );
  border-radius: 50px;
  border: none;
  color: #fff;
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.4);
}

#reload:hover,
#btnPlayer2:hover,
#btnPlayer1:hover {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 960px) {
  #grid-container {
    display: grid;
    grid-template-rows: 125px 50px 50px 50px 50px auto 50px;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 20px;
    grid-template-areas:
      'h1'
      'player1'
      'player1btn'
      'player2'
      'player2btn'
      'tictactoe'
      'output'
      'refresh';
  }
  body {
    margin-top: 5px;
  }

  h1 {
    font-size: 2.5em;
    grid-area: h1;
  }

  #player1 {
    grid-area: player1;
    text-align: center;
    margin: 0px;
    width: 330px;
  }

  #btnPlayer1 {
    grid-area: player1btn;
    width: 330px;
    margin: 0px;
    margin-left: 0em;
  }

  #player2 {
    grid-area: player2;
    text-align: center;
    margin: 0px;
    width: 330px;
  }

  #btnPlayer2 {
    grid-area: player2btn;
    margin: 0px;
    width: 330px;
  }

  #position {
    grid-area: tictactoe;
    margin-bottom: -10px;
    margin-top: -10px;
  }

  #output {
    grid-area: output;
    margin-top: -20px;
  }

  #reload {
    grid-area: refresh;
    height: 50px;
    width: 330px;
  }
}
